.app{
  height: 100vh;
  display: flex;
  background: linear-gradient(90.5deg, rgb(35, 210, 255,0.887) 0.3%, rgb(74, 104, 247,0.887) 18.2%, rgb(133, 80, 255,0.887) 36.4%, rgb(198, 59, 243,0.887) 52.5%, rgb(250, 84, 118,0.887) 68.8%, rgb(255, 223, 67,0.887) 99.9%);  color: white;
}
